<div class="mx-0 px-0 text-center my-3 w-100">
  <h2 class="pt-4 align-middle"><b>Bookmarks</b></h2>
  <br>
</div>
<div class="bookmarks text-center bg-light p-3 pb-0 m-0">
  <% @bookmarks.each do |bookmark| %>
    <% @cloth = bookmark.cloth %>
    <div class="d-inline-flex justify-content-between">
      <%= render "shared/card-cloth", object: @cloth %>
    </div>
  <% end %>
</div>
