@media(max-width:991px){
  .login-image {
    display: none !important;
  }
  .login-form {
    width: auto !important;
  }
  .container.sign-up {
    width: auto !important;
  }
  .section {
    display: none !important;
  }
}

@media(max-width:476px){
  .login-form {
    padding:0px !important;
  }
}
