h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  .column {

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;

      h2 {
        font-size: 50px;
        font-weight: bold;
        padding: 25px 12px 0 12px;
      }

      p {
        margin-bottom: 0;
      }

      .detail-avatar {
        display: flex;
        align-items: center;
        gap: 10px;

        .avatar {
          width: auto;
          height: 40px;
          border-radius: 50%;
        }

        p {
          margin-bottom: 0;
        }
      }

      .detail-description {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card-cloth-bookmark {
          position: absolute;
          top: -60px;
          right: 10px;
          font-size: x-large;
        }
      }

      .detail-booking {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        margin: 5px auto;
        padding: 0 15px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 1rem;
        padding: 20px;

        .btn {
          margin: 0;
        }
      }

      .detail-card {
        border: 1px solid white;
        background-color: white;
        border-radius: 1rem;
        width: 45%;
        text-align: center;
        margin: 5px auto;
        padding: 5px;

        .detail-type {
          opacity: 0.6;
        }
      }

      .date-card {
        border: 1px solid white;
        background-color: white;
        border-radius: 1rem;
        width: 95%;
        text-align: center;
        margin: 5px auto;
        padding: 5px;

        .date-type {
          opacity: 0.6;
        }
      }

      .product-img {
        display: flex;
        justify-content: center;
      }

      .product-img > img {
        padding: 25px;
        width: 80%;
        height: auto;
      }
    }
  }
  .btn {
    margin: 20px 0px;
  }
}

.card-review {
  display: flex;
  flex-direction: column;
  gap: 0;

  p {
    margin-bottom: 0;
  }
}
