<div class="mx-0 px-0 text-center w-100">
    <h3 class="m-3"><b>My renting requests</b></h3>
    <div class="bookings text-center bg-light p-3 pb-0 m-0">
      <% @rentee_bookings.each do |rentee_booking| %>
        <% @booking = rentee_booking %>
        <div class="d-inline-flex justify-content-between">
          <%= render "shared/card-rentee", object: @booking %>
        </div>
      <% end %>
    </div>

  <hr style="width:80%; margin-left:10% !important; margin-right:10% !important;" />

  <div class="bookings text-center bg-light p-3 pb-0 m-0">
    <h3 class="m-3"><b>Received renting requests</b></h3>

      <% @renter_bookings.each do |renter_booking| %>
        <% @booking = renter_booking %>
        <div class="d-inline-flex justify-content-between">
          <%= render "shared/card-renter", object: @booking %>
        </div>
      <% end %>
  </div>
</div>
