<div class="my-3 px-3 login-container">
  <div class="login d-flex justify-content-center">
    <div><%= cl_image_tag @cloth.photos.first.key, :transformation => {:width => 400, :height => 400, :crop => "lfill"} %></div>
      <div class="login-form">
        <h3 class="p-1">New renting request</h3>

        <%= render "bookingform", cloth: @cloth, booking: @booking %>
      </div>
    </div>
  </div>
</div>
