<div class="footer">
  <div class="footer-sections">
    <div class="section">
      <h2><b>Get Help</b></h2>
      <%= link_to "/" do %>
        <p>Contact Us</p>
      <% end %>
    </div>
    <div class="section">
      <h2><b>About Wardrobe</b></h2>
      <%= link_to "/" do %>
        <p>About Us</p>
      <% end %>
    </div>
    <div class="section">
      <h2><b>More from Wardrobe</b></h2>
      <%= link_to "/" do %>
        <p>Top Sellers</p>
      <% end %>
    </div>
  </div>
  <div class="footer-copyright">
    <%= link_to "/" do %>
      <p><b>wardrobe</b></p>
    <% end %>
  </div>
</div>
