<div class="mx-0 px-0 text-center my-5 w-100">
  <h1><b>About Us</b></h1>
  <br>
</div>
<div class="about_us text-center bg-light p-3 pb-0 m-0">
  <h2><b>Who Are We</b></h2>
  <br>
  <%= image_tag "about_us_1.jpg", size: "300x400" %>
  <p class="mt-5"> We are a Group of Software Developers from Le Wagon Bootcamp that have developed this platform.</p>
  <p class="mt-5 mb-5"> Busy Individual can utilise our Platform to find that perfect suit for your Special Day or a costume that you only wear once a year during Halloween Party. Rent an attire hassle free and without additional charges. Don't buy and leave it to collect dust in your wardrobe only to throw it a few years later. Do your part to reduce carbon footprint to save the Earth. <br> <br>
   Aspring <b>Entrepeneurs</b> are free to utilise our platform to set up their online renting business without hidden platform charges that will affect your profit. Simply sign up, upload and approve your rent request. Sit back and enjoy the passive income.  </p>

</div>
