<div class="mx-0 px-0 text-center my-5 w-100">
  <h1><b>Contact Us</b></h1>
  <br>
</div>
<div class="contact_us text-center bg-light p-3 pb-0 m-0">

  <h3 class="m-0 mt-2"><b>Email Us: admin@wardrobe.com</b></h3>
  <h3 class="m-0 mt-2"><b></i>Call Us: +6568999333</b></h3>
  <br>
  <div id="contact-us-location-map" class="mt-5 d-inline-flex justify-content-between">
    <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=21%20Collyer%20Quay,%20Singapore%20049320&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
  </div>
  <h3 class="m-0 mt-2"><b></i>Visit Us Here</b></h3>
  <br>
  <br>
</div>
