.card-cloth {
  // border-style: solid;
  border-radius: 1rem;
  width: 12.8rem;
  height: 20rem;
  // padding: 1rem;
  margin: 1rem;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-image {
  img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#cloth-title {
  color: black;
  font-weight: bold;
  // padding: 1rem;
  margin: 0;
  font-size: large;
  height: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 4px;
  border-top: #000000;
}

#cloth-description {
  color: rgb(69, 68, 68);
  margin: 0;
  padding: 0 4px;
  overflow: hidden;
  font-size: small;
  height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#cloth-price {
  color: rgb(69, 68, 68);
  // text-decoration: solid;
  font-size: small;
  font-weight: bold;
  margin: 0;
  // padding: 0.5rem;
  // align-self: flex-end;
}

// .bookmark-link-container {
//  align-self: flex-start;
// .cloth-bookmark {
//   .fa-heart {
//     color: #54BAB9;
//   }
//  font-size: large;
//   font-weight: bold;
//   margin-top: -2.2rem;
// }


.card-cloth-info {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-cloth-bookmark {
  position: absolute;
  right: 5px;
  bottom: 65px
  a {
    text-decoration: none;
  }
  i {
    color: black;
  }
}
