.footer {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  // bottom: 0;
  // align-self: flex-end;
}

.footer-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.section {
  padding: 1rem;
  margin: 1rem;
  text-align: left;

  a {
    text-decoration: none;
    color: black;
  }

}

.footer-copyright {
  display: flex;

  a {
    text-decoration: none;
    align-self: flex-end;
    font-size: x-large;
    color: black;
  }
}
