.login-image {
  background-image: url("Login-image.jpg");
  background-size: cover;
  min-height: 60rem;
}

.login-form {
  padding: 8rem;

  .btn {
    background-color: #6d757d;
    opacity: 0.8;
    border-radius: 0.5rem;
    color: white;
  }

  .sign-up {
    padding: 1rem;
    text-align: center;
  }
}
